POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=portifolio_db

DATABASE_URL="postgresql://root:password@postgres/portifolio_db"

# API Configuration
NEXT_PUBLIC_API_URL=/api
API_INTERNAL_URL=http://api:3001
CORS_ORIGIN=http://localhost:3000

TESTCONTAINERS_HOST_OVERRIDE=host.docker.internal
